.logoMain {
    font-size: 2.3em;
    font-weight: 900;
    color: rgb(24, 67, 223);
}

.cartLogo {
    font-size: 35px;
    color:rgb(24, 67, 223);
}

.textCart {
    color: rgb(24, 67, 223);
    font-size: 1.15em;
    list-style: none;
    text-decoration: none;
}

.linkItems {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(36, 36, 36);
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}